.register {

}

.registerLabel {
    color: #EAC15B;
    font-size: 20px;
}

.bottonRegister {
    background-color:  #EAC15B;
    border: none;
    font-family: elkwood;
    font-size: 20px;
    margin-top: 30px;   
}

.progressbar {
    counter-reset: step;
    display: flex;
    flex-direction: row;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    position: relative;
    text-align: center;
    color: #EAC15B;
}

.progressbar li:before {
    content: ' ';
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 3px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: azure;

    
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: black;
    top: 15px;
}

.progressbar li:last-child:after {
    content: none;
}

.progressbar li.active {
    color: #EAC15B;
}

.progressbar li.active:before {
    background-color: #EAC15B;
}